// メディアクエリ-----------------------------------
$breakpoints: (
  //キー　　値
  "s": "screen and (max-width: 699px)",
  "m": "(min-width: 700px) and (max-width: 899px)",
  "l": "(min-width: 900px) and (max-width: 1099px)",
  "xl": "screen and (min-width: 1100px)"
) !default;

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// font-family: "Noto Sans JP", sans-serif;
// font-family: "Montserrat", sans-serif;

// title--------------------------------------------------
.title-single {
  color: #238fdc;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: calc(51 / 30);
  letter-spacing: 0.1em;
  text-align: center;
  position: relative;
  @include mq(l) {
    font-size: 36px;
    line-height: calc(61.2 / 36);
    letter-spacing: 0.1em;
  }
  @include mq(xl) {
    font-size: 36px;
    line-height: calc(61.2 / 36);
    letter-spacing: 0.1em;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    background-color: #2bc8c8;
    @include mq(l) {
      bottom: -5px;
    }
    @include mq(xl) {
      bottom: -5px;
    }
  }
}

.title {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  @include mq(m) {
    padding-left: 33px;
    flex-direction: row;
    align-items: center;
    gap: 28px;
  }
  @include mq(l) {
    padding-left: 80px;
    padding-left: min(calc(80px / 1280px * 100%), 80px);
    padding-right: 0;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
  @include mq(xl) {
    padding-left: 0;
    padding-right: 0;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
  &-en {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: calc(61 / 36);
    letter-spacing: 0.1em;
    color: #228ddd;
  }
  &-ja {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: calc(24 / 14);
    letter-spacing: 0.19em;
    color: #228bde;
  }
}

.caseStudy {
  .title {
    @include mq(l) {
      padding-left: 60px;
    }
    @include mq(xl) {
      position: absolute;
      left: max((50% - 560px), 80px);
    }
  }
}

.company {
  .title {
    padding-left: 30px;
    padding-right: 30px;
    @include mq(l) {
      padding-left: 89px;
      padding-right: 89px;
    }
    @include mq(xl) {
      padding-left: 0;
      padding-right: 0;
      position: absolute;
      left: calc(50% - 450px);
    }
  }
}

.price {
  .title {
    @include mq(l) {
      padding-left: 0;
      position: absolute;
      left: 60px;
    }
    @include mq(xl) {
      position: absolute;
      left: max(calc(50% - 479px), 80px);
    }
  }
}

.blog {
  .title {
    padding-left: 0;
    padding-right: 0;
    @include mq(m) {
      padding-left: 33px;
      flex-direction: row;
      align-items: center;
      gap: 28px;
    }
    @include mq(l) {
      gap: 25px;
    }
    @include mq(xl) {
      gap: 25px;
    }
  }
}

.seminar {
  .title {
    padding-left: 15px;
    padding-right: 15px;
    @include mq(m) {
      padding-left: 40px;
      padding-right: 40px;
    }
    @include mq(l) {
      padding-left: 0;
      padding-right: 0;
      gap: 28px;
    }
    @include mq(xl) {
      padding-left: 0;
      padding-right: 0;
      gap: 28px;
    }
  }
}

.title-single-QA {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: calc(61 / 36);
  letter-spacing: 0.1em;
  color: #238fdc;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  &::after {
    content: "";
    width: 60px;
    height: 3px;
    background-color: #2bc8c8;
    position: absolute;
    left: 50%;
    bottom: -2px;
    transform: translate(-50%, 100%);
  }
}
// btn-----------------------------------------------------
.btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 54px;
  padding-right: 54px;
  background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
  box-shadow: 4px 3px 26px 0px #00000029;
  border-radius: 48px;
  color: #f6f7f7;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(27 / 16);
  letter-spacing: 3px;
  transition: opacity 0.3s;
  
  &:hover{
    opacity: 0.8;
  }
}

.fv {
  .btn {
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.15em;
    @include mq(l) {
      margin-left: 0;
      margin-right: 0;
    }
    @include mq(xl) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.concept {
  .btn {
    margin-left: 42px;
    margin-left: min(42px, 9.82vw);
    padding-left: min(54px, 12.62vw);
    padding-right: min(54px, 12.62vw);
    @include mq(l) {
      margin-left: 0;
    }
    @include mq(xl) {
      margin-left: 0;
    }
  }
}

.price {
  .btn-container {
    padding-left: calc(7px / 261px * 100%);
    .btn {
      margin-left: auto;
      margin-right: auto;
      letter-spacing: 2.4px;
      line-height: calc(27 / 16);
    }
    &.btn-container-3 {
      padding-left: 0;
      @include mq(l) {
        padding-left: calc(7px / 261px * 100%);
      }
      @include mq(xl) {
        padding-left: calc(7px / 261px * 100%);
      }
    }
  }
}

.cta {
  .btn {
    margin-left: auto;
    margin-right: auto;
    color: #f6f7f7;
    letter-spacing: 2.4px;
    background: transparent;
    border: 2px solid #ffffff;
    padding-top: calc(9px - 2px);
    padding-bottom: calc(9px - 2px);
    padding-left: calc(54px - 2px);
    padding-right: calc(54px - 2px);
  }
}

.blog {
  .btn-container {
    padding-right: 5px;
    @include mq(xl) {
      padding-left: 22px;
      padding-right: 0;
    }
    .btn {
      margin-left: auto;
      margin-right: auto;
      letter-spacing: 2.5px;
    }
  }
}

.seminar {
  .btn-container {
    padding-left: 5px;
    padding-left: min(calc(5px / 398px * 100%), 5px);
    @include mq(l) {
      padding-left: 0;
      padding-right: 1px;
    }
    @include mq(xl) {
      padding-left: 0;
      padding-right: 1px;
    }
    .btn {
      margin-left: auto;
      margin-right: auto;
      letter-spacing: 2.572px;
    }
  }
}
// all-btn-------------------------------------------------------
.all-btn {
  width: 121px;
  aspect-ratio: 121 / 37;
  border: 1px solid #2392db;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(27.2 / 16);
  letter-spacing: 3px;
  text-indent: 3px;
  color: #2392db;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
  &:hover{
    background-color: #2392db;
    border: 1px solid #fff;
    color: #fff;
  }
}

.news {
  .all-btn {
    @include mq(l) {
      margin-left: 0;
      margin-right: 0;
    }
    @include mq(xl) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.caseStudy {
  .all-btn {
    width: 181px;
    height: 45px;
    aspect-ratio: 181 / 45;
  }
}

// btn-detail (seminar)---------------------------------------------
.btn-detail {
  width: 158px;
  height: 40px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #2392db;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2392db;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: calc(24 / 14);
  margin-left: auto;

  transition: background-color 0.3s, border 0.3s, color 0.3s;
  &:hover{
    background-color: #2392db;
    border: 1px solid #fff;
    color: #fff;
  }
}

// no-scroll-----------------------------------------
.no-scroll {
  overflow: hidden;
}
